*{
    box-sizing: border-box;
}

body{
  padding: 25px;
  display: flex;
  background-color: white;
  color: black;  
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  user-select: none;
  transition: background 0.2s linear;
}

.card-content{
  transition: background 0.2s linear;
}

.card-action{
  transition: background 0.2s linear;
}

.container{
    margin-top: 20px;
}

.card{
    position: relative;
}
.container .dark{
    background: #292c35;
}

.collection .collection-item{
    background: #bbf0eb;
    color: #111;   
}

.collection .collection-item.strike{
  text-decoration: line-through;
}


.clear-tasks{
    margin-top: 3px;
}

/* DARK THEME */

body.dark{
    background: #292c35;
  }

.card-content.dark{
    background: #292c35;
    color: white;
}

.card-action.dark{
  background: #292c35;
  color: white;
}

  
  
   #chk{
    opacity: 0;
    position: absolute;
  }

  .label {
    background-color: #111;
    display: flex;
    width: 50px;
    height: 26px;
    position: relative;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    /* transform: scale(1.5); */
  }
  
  .ball{
    background: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
      color: #f1c40f;
  }
  
  .fa-sun {
      color: #f39c12;
  }

/* CHROME DEV TOOLS */

  [type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
    opacity: 0;
}

[type="checkbox"]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: -50px;
}