*{
    box-sizing: border-box;
}

body{
  padding: 25px;
  display: flex;
  background-color: white;
  color: black;  
  -webkit-user-select: none;
  -moz-user-select: none;
  ms-user-select: none;
  user-select: none;
  transition: background 0.2s linear;
}

.container{
    margin-top: 20px;
}

.card{
    position: relative;
}
.container .dark{
    background: #292c35;
}

.collection .collection-item{
    background: #bbf0eb;
    color: #111;   
}

.clear-tasks{
    margin-top: 3px;
}

/* DARK THEME */

body.dark{
    background: #292c35;
  }
  
  /* .checkbox{
    visibility: hidden;
    opacity: 0;
    position: absolute;
  } */
   #chk{
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    display: flex;
    width: 50px;
    height: 26px;
    position: relative;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    /* transform: scale(1.5); */
  }
  
  .ball{
    background: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
      color: #f1c40f;
  }
  
  .fa-sun {
      color: #f39c12;
  }
